<div class="page-header">
  <h1><%= current %> (<%= count %> <%= title %>)</h1>
  <h3>
    <span class="pull-right"><%= link_to('Main App', main_app.root_path, class: :subtle) %></span>
    <%= t('delayed/web.views.server_time') %> <%=dt Time.now %> PST
  </h3>
  <%= render 'breadcrumbs', current: current %>
</div>

