<% title t('delayed/web.views.jobs') %>

<div class="page-header">
  <h1>Health Check Tasks (<%= @tasks.count %> Tasks)</h1>
  <h3>
    <span class="pull-right"><%= link_to('Main App', main_app.root_path, class: :subtle) %></span>
    <%= t('delayed/web.views.server_time') %> <%=dt Time.now %> PST
  </h3>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to('All', root_path) %></li>
    <li class="breadcrumb-item"><%= link_to('Queued', queued_jobs_path) %></li>
    <li class="breadcrumb-item"><%= link_to('Failed', failed_jobs_path) %></li>
    <li class="breadcrumb-item"><%= link_to('Scheduled Emails', scheduled_email_jobs_path) %></li>
    <li class="breadcrumb-item"><%= link_to('Health Check', health_check_jobs_path) %></li>
    <li class="breadcrumb-item">Tasks</li>
  </ol>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('delayed/web.views.id') %></th>
      <th>Job</th>
      <th><%= t('delayed/web.views.status') %></th>
      <th>Task Created</th>
      <th><%= t('delayed/web.views.run_at') %></th>
      <th><%= t('delayed/web.views.attempts') %></th>
      <th style="width: 190px;"><%= t('delayed/web.views.last_error') %></th>
      <th style="width: 140px"><%= t('delayed/web.views.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% if @tasks.any? %>
      <% @tasks.each do |task| %>
        <% job = Delayed::Web::TaskJobDecorator.new(task) %>
        <tr>
          <td><%= task.id %></td>
          <td><%= task.job ? link_to("##{task.job_id}", job_path(task.job_id)) : task.job_id %></td>
          <td>
            <span class="<%= status_dom_class(job.status) %>">
              <%= t(job.status, scope: 'delayed/web.views.statuses').capitalize %>
            </span>
          </td>
          <td style="font-size: 12px;"><%=dt task.created_at  %></td>
          <td style="font-size: 12px;"><%=dt job.run_at  %></td>
          <td><%= job.attempts %></td>
          <td>
            <% if job.last_error.present? %>
              <%= link_to truncate(dt(job.last_error)), job_path(job) %>
            <% else %>
              <span class="label label-success"><%= t('delayed/web.views.errors.empty') %></span>
            <% end %>
          </td>
          <td>
            <% if job.can_queue? %>
              <%= button_to t('delayed/web.views.buttons.run_next'), queue_job_path(job), method: :put, class: 'btn btn-mini btn-action', form_class: 'btn-rails pull-left', title: t('delayed/web.views.buttons.run_next') %>
            <% end %>
            <% if job.can_destroy? %>
              <%= button_to t('delayed/web.views.buttons.delete'), job_path(job), method: :delete, class: 'btn btn-danger btn-mini btn-action', form_class: 'btn-rails pull-right', title: t('delayed/web.views.buttons.delete'), onclick: "return confirm('#{t('delayed/web.views.confirm.delete')}')" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="7">
          <%= t('delayed/web.views.queue.empty') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(@tasks) %>
